@import "../../theme/variables";
@import "../../theme/responsive";

.instagram-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $space-medium-20;
  width: 100%;

  .instagram-wrapper__post {
    display: block;
    height: auto;
    margin: 0 $space-medium-20 $space-medium-20 0;
    min-width: calc((100% / 5) - #{$space-medium-20});
    width: calc((100% / 5) - #{$space-medium-20});

    @include mobile {
      min-width: calc((100% / 2) - #{$space-medium-20});
      width: calc((100% / 2) - #{$space-medium-20});
    }
  }
}
