@font-face {
  font-family: 'Muli';
  url('../../public/fonts/Muli/Muli-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Handlee';
  url('../../public/fonts/Handlee/Handlee-Regular.ttf') format('truetype');
  font-weight: 400;
}
