@import "../theme/variables";
@import "../theme/responsive";

.home {
  .home__hero {
    height: $hero-height;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: $hero-height-mobile;
    }
  }

  .home__hero-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include mobile {
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 1000px;
      width: 100%;
    }
  }

  .home__hero-headline {
    box-sizing: border-box;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: $space-medium-30;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: $header-max-width;

    @include mobile {
      padding-left: $space-medium-15;
    }
  }

  .home__products-headline {
    text-align: center;
  }

  .home__products-sub-headline {
    color: $color-ci;
    text-align: center;
    text-transform: uppercase;
  }

  .home__badge-wrapper {
    display: flex;
    bottom: $space-medium-30;
    justify-content: flex-end;
    left: 50%;
    max-width: $header-max-width;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  .home__oat,
  .home__badge,
  .home__dates,
  .home__apricot {
    fill: $color-ci;
  }

  .home__badge {
    width: 200px;
    right: 20px;
    bottom: 20px;
  }

  .home__oat {
    height: auto;
    width: 100px;
  }

  .home__dates {
    height: auto;
    width: 100px;
  }

  .home__apricot {
    height: auto;
    width: 100px;
  }

  .home__products-description {
    text-align: center;
  }

  .home__products-info {
    display: flex;
  }

  .home__products-info-col {
    width: calc(100% / 3);

    &:first-of-type {
      display: flex;
      justify-content: flex-end;
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .home__products-image {
    text-align: center;
    margin: auto;
    width: auto;
    height: 500px;
  }

  .home__slider-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 500px;
    position: absolute;
    top: 0;
    width: $space-medium-40;
    z-index: 1;

    .arrow {
      height: auto;
      width: $space-medium-40;
    }

    &--next {
      right: 0;

      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}
