@import "../theme/variables";
@import "../theme/responsive";

.home {
  .home__hero {
    height: $hero-height;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: $hero-height-mobile;
    }
  }

  .home__hero-img {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    @include mobile {
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 1000px;
      width: 100%;
    }
  }

  .home__hero-headline {
    box-sizing: border-box;
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: $space-medium-30;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: $header-max-width;

    @include mobile {
      padding-left: $space-medium-15;
    }
  }

  .home__products-headline {
    text-align: center;
  }

  .home__products-sub-headline {
    color: $color-ci;
    text-align: center;
    text-transform: uppercase;
  }

  .home__badge-wrapper {
    display: flex;
    bottom: $space-medium-30;
    justify-content: flex-end;
    left: 50%;
    max-width: $header-max-width;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  .home__badge {
    fill: $color-ci;
    width: 200px;
    right: 20px;
    bottom: 20px;
  }

  .home__products-image {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 200px;
  }
}
