@import "../../theme/variables";
@import "../../theme/responsive";

.footer {
  //background-image: url(../../../public/img/wood.jpg);
  background-image: url(../../../public/img/wood-black.jpg);
  //background-image: url(../../../public/img/wood-invert.jpg);
  color: $color-white;
  padding-bottom: $space-medium-20;

  .footer__wrapper {
    display: flex;
    margin: auto;
    max-width: $page-sub-max-width;
    padding: $space-large-50 0;

    @include mobile {
      flex-direction: column;
      padding: 0 0 $space-medium-30 0;
    }
  }

  .footer_social-contact-wrapper {
    display: flex;
    margin: auto;
    max-width: $page-sub-max-width;
    padding-bottom: $space-large-50;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: $space-medium-30;
    }
  }

  .footer__col {
    box-sizing: border-box;
    display: flex;
    padding: 0 $space-medium-20;
    width: calc(100% / 3);

    @include mobile {
      width: 100%;
    }

    &:nth-of-type(2),
    &:last-of-type {
      justify-content: center;

      @include mobile {
        justify-content: flex-start;
      }

      .footer__headline {
        text-transform: uppercase;
      }
    }
  }

  .footer__headline-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-ci;
    }
  }

  .footer__headline {
    margin-bottom: $space-medium-30;

    &--privacy {
      margin-bottom: 0;
    }

    @include mobile {
      margin: $space-medium-30 0 $space-medium-20 0;
    }
  }

  .footer__email {
    color: $color-ci;
    display: block;
    margin-bottom: $space-medium-15;
    text-decoration: none;
  }

  .footer__social-buttons {
    display: inline-flex;
    margin-right: auto;

    @include mobile {
      justify-content: center;
      margin: auto;
      padding-bottom: $space-medium-20;
      width: 100%;
    }
  }

  .footer_social {
    display: block;
    height: auto;
    width: $space-medium-40;
    padding: 0 $space-medium-20;
  }

  .footer__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include mobile {
      position: static;
      left: inherit;
      transform: none;
    }
  }

  .footer__contact-btn {
    text-decoration: none;
    color: inherit;
  }
}
