@import "theme/font";
@import "theme/variables";
@import "theme/responsive";
@import "theme/typography";
@import "../node_modules/react-id-swiper/src/styles/scss/swiper";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

* {
  scroll-behavior: smooth;
}

body {
  background: $color-invert;
  color: $color-font;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: $font-family-headline;
  margin: 0;
}

h1 {
  @include fluid-type($mobile-breakpoint, $page-max-width, $font-large-40, 80px);

  @include mobile {
    font-size: $font-large-40;
  }
}

h2 {
  font-size: $space-medium-40;

  @include fluid-type($mobile-breakpoint, $page-max-width, $font-medium-25, $font-large-40);
}

p {
  line-height: 1.5;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

svg {
  height: 1rem;
  width: 1rem;
}

.content {
  margin: auto;
  max-width: $page-max-width;
}
