@import "theme/font";
@import "theme/variables";
@import "theme/responsive";

@import "../node_modules/react-id-swiper/src/styles/scss/swiper";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

* {
  scroll-behavior: smooth;
}

body {
  background: $color-invert;
  color: $color-font;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: $font-family-headline;
}

h1 {
  font-size: 80px;

  @include mobile {
    font-size: 40px;
  }
}

h2 {
  font-size: $space-medium-40;
}

img {
  display: block;
  width: 100%;
}

.content {
  margin: auto;
  max-width: $page-max-width;
}
