@import "theme/font";
@import "theme/variables";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

* {
  scroll-behavior: smooth;
}

body {
  background: $color-invert;
  color: $color-font;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.content {
  margin: auto;
  max-width: $page-max-width;
}
